*.mp4
*.keep
*.pyc
/Users/gominseong/Library/ClExtraction_resnet/output/output_2/
/Users/gominseong/Library/CloudStorage/OneDrive-KookminUNIV/𝒢𝒾𝓉𝒽𝓊𝒷/Video-of-a-gym-math-Temporal-Action-Localization/I3D_Feature_Extraction_resnet/ffmpegpython/